<table class="table table-bordered table-hover">
  <tr>
    <td>
      <p class="text-center"><b><%= t('.visit_recency') %></b></p>
      <div style="height:160px;">
        <div style="margin:5px;">
        <div id="recency_d" title="0 visits">
          <small class="muted"><%= t('.less_than_1_day') %> (<span id="recency_d_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_d_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        <div id="recency_w" title="0 visits">
          <small class="muted"><%= t('.1_to_7_days') %> (<span id="recency_w_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_w_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        <div id="recency_m" title="0 visits">
          <small class="muted"><%= t('.7_to_30_days') %> (<span id="recency_m_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_m_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        <div id="recency_o" title="0 visits">
          <small class="muted"><%= t('.more_than_30_days') %> (<span id="recency_o_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_o_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        </div>
      </div>
    </td>
  </tr>
</table>
